.Header {
  height: 120vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../public/media/ComputerImg.jpg");
  background-position: center center;
  background-size: cover;
  font-size: 1.2rem;
}

.Header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(
    0,
    0,
    0,
    0.5
  ); /* Adjust the alpha value for the desired tint darkness */
  pointer-events: none; /* Allows clicking through the overlay to the image */
}

.headerContent {
  background-color: #28282b;
  border: 1px solid white;
  padding: 2%;
  box-shadow: 4px 2px rgba(255, 255, 255, 0.515),
    -0.25em 0 0.4em rgba(255, 255, 255, 0.234);
  z-index: 1;
}

.Logo {
  margin-bottom: 1%;
  padding-bottom: 2%;
}

/*-------------------Dont touch below-------------------------------*/

.wrapper {
  display: inline-flex;
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .staticText {
  font-size: 30px;
  margin-right: 10px;
  color: whitesmoke;
}

.wrapper .dynamicTexts {
  line-height: 50px;
  height: 50px;
  overflow: hidden;
}

.dynamicTexts li {
  list-style: none;
  font-size: 30px;
  font-weight: 500;
  color: #ffa500;
  position: relative;
  top: 0;
  animation: slide 10s steps(4) infinite;
}
@keyframes slide {
  100% {
    top: -200px;
  }
}

.dynamicTexts li span {
  position: relative;
}

.dynamicTexts li span::after {
  content: "";
  position: absolute;
  left: 0;
  height: 120%;
  background-color: #28282b;
  width: 100%;
  border-left: 2px solid #ffa500;
  animation: typing 2.5s steps(12) infinite;
}

@keyframes typing {
  100% {
    left: 100%;
    margin: 0 -35px 0 35px;
  }
}

/*-------------------------------------------------------*/

.missionStatement {
  background-color: aliceblue;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.missionText {
  width: 55%;
}

.missionText p {
  margin: 3%;
}

/* ----------------------------------------------------------*/

.youTubeWalkThrough {
  background-color: #c6c0c0;
  height: 100vh;
  border: 0.5px solid black;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.youTubeWalkThrough h2 {
  margin-bottom: 4%;
  font-size: 3.4rem;
  font-family: "Poppins", sans-serif;
  -webkit-text-stroke: 2px rgba(246, 242, 242, 0.538);
}

/* ----------------------------------------------------------*/

@media (max-width: 1300px) {
  .Logo {
    width: 35rem;
    height: 11rem;
  }
  .aboutContent {
    font-size: 2.5rem;
  }
  .TypingWrapper {
    top: 110px;
    left: 230px;

    padding: 3%;
  }
}
