.imgAfterHeader {
  border-top: 1px solid orange;
  background-image: url("../public/media/ComputerImg.jpg");
  height: 75vh;
  background-position: center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imgAfterHeader::before {
  content: ""; /* Create a pseudo-element */
  position: absolute; /* Position it absolutely within the container */
  top: 0;
  left: 0;
  width: 100%;
  height: 75vh;
  background-color: rgba(0, 0, 0, 0.6); /* Semi-transparent black color */
}

.aboutContent {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3.4rem;
  font-family: "Ysabeau SC", sans-serif;
  font-weight: 400;
}

.Logo {
  z-index: 1;
  position: relative;
  width: 50rem;
  height: 16rem;
  left: 9%;
}

/*-------------------Dont touch below-------------------------------*/

.TypingWrapper {
  display: flex;
  margin-left: 5%;
  justify-content: center;
  flex-direction: column;
  box-sizing: border-box;
  position: relative; /* Set the position to relative */
  background-color: #0a0a0a;
  top: 220px;
  left: 350px;
}

.dynamicTexts {
  margin-left: 10px;
  line-height: 90px;
  height: 90px;
  overflow: hidden;
}

.staticText {
  margin: 0;
  font-weight: 400;
}

.choice {
  list-style: none;
  color: rgb(241, 183, 96);
  font-weight: 500;
  position: relative;
  top: 0;
  animation: slide 9s steps(3) infinite;
}

.choice::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  border-left: 2px solid rgb(235, 150, 71);
  background-color: #0a0a0a;
  animation: typing 3s steps(12) infinite;
}

@keyframes typing {
  40%,
  60% {
    left: calc(100% + 30px);
  }
  100% {
    left: 0;
  }
}
@keyframes slide {
  100% {
    top: -270px;
  }
}

/*-------------------------------------------------------*/

.missionStatement {
  background-color: aliceblue;
  color: #000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5%;
}
.missionText {
  width: 55%;
}

.missionText p {
  margin: 3%;
}

/* ----------------------------------------------------------*/

.youTubeWalkThrough {
  background-color: #c6c0c0;
  height: 120vh;
  border: 0.5px solid black;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.youTubeWalkThrough h2 {
  margin-bottom: 4%;
  font-size: 3.4rem;
  font-family: monospace;
}

/* ----------------------------------------------------------*/

@media (max-width: 1300px) {
  .Logo {
    width: 35rem;
    height: 11rem;
  }
  .aboutContent {
    font-size: 2.5rem;
  }
  .TypingWrapper {
    top: 110px;
    left: 230px;

    padding: 3%;
  }
}
